<p-toast />

<p-table
  #dt1
  [value]="filteredUsers()"
  [globalFilterFields]="['code', 'name', 'startName']"
  selectionMode="single"
  dataKey="id"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rows]="10"
  [paginator]="true"
  stateStorage="session"
  stateKey="statedemo-session"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-between bg-white">
      <p-iconField iconPosition="right">
        <input
          pInputText
          type="text"
          placeholder=" Search With Name"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange($event)"
        />
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
      </p-iconField>

      <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0"
      >
        <button
          class="flex items-center justify-center text-white bg-[#0bbac7] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-12 py-2.5 text-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2 gap-2"
          routerLink="/user-management"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-white"
          >
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
            />
            <line
              x1="12"
              y1="8"
              x2="12"
              y2="16"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
            <line
              x1="8"
              y1="12"
              x2="16"
              y2="12"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
          Add New
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code" style="width: 20%">
        Code <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="name" style="width: 20%">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="startName" style="width: 20%">
        Start Name <p-sortIcon field="startName"></p-sortIcon>
      </th>

      <th style="width: 20%">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.code }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.startName }}</td>
      <td>
        <div class="px-3">
          <button
            class="btn btn-info mx-3"
            [routerLink]="['/manage-user', user.id]"
          >
            <i class="fas fa-edit text-white" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger mx-3" (click)="onDeleteUser(user.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
